@import url('./__logo/header__logo.css');
@import url('./__login/header__login.css');
@import url('./__links/header__links.css');
@import url('./__link/header__link.css');

.header {
    background-color: rgba(25, 25, 25, .2);
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
  
}

@media screen and (max-width:500px) {
    .header {
        flex-flow: column;
        
    }
}